<label for="mail" class="d-flex justify-content-center retroshadow position-global">
    <a href="mailto:stephane.chaigne@gmail.com">
        <img id="mail" src="assets/icons/envelope-regular.svg" width="13%" />
        Stephane.chaigne@gmail.com
    </a>
</label>

<label for="phone" class="d-flex justify-content-center retroshadow ">
    <a href="tel:0761914779">
        <img id="phone" src="assets/icons/mobile-alt-solid.svg" width="15%" />
        07-62-91-47-79
    </a>
</label>





<label id="linkedin" class="d-flex justify-content-center retroshadow">
    <a href="https://www.linkedin.com/in/stephane-chaigne-55b907198/" target="_blank">
        <img src="assets/icons/linkedin-in-brands.svg" width="25%" />
        Linkedin
    </a>
</label>
<!-- <a href="https://mail.google.com/mail/?view=cm&fs=1&to=stephane.chaigne@gmail.com&su=SUBJECT&body=BODY" target="_blank">Gmail</a> -->