<h1 id="titre" class="d-flex justify-content-center">Presention du BTS SIO </h1>
<div class="row d-flex justify-content-center">
    <div class="col-md-3 col-sm-6">
        <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://mdbootstrap.com/img/new/standard/nature/111.jpg" class="img-fluid" />
            </div>
            <div class="card-body">
                <h5 class="card-title">PortFolio</h5>
                <p class="card-text">Présentation de moi même
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="assets/img/vehiparc.png" class="img-fluid" />
            </div>
            <div class="card-body">
                <h5 class="card-title">Véhiparc
                </h5>
                <p class="card-text">WebApp qui permet la gestion de flotte de véhicule d'entreprise.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://mdbootstrap.com/img/new/standard/nature/111.jpg" class="img-fluid" />
            </div>
            <div class="card-body">
                <h5 class="card-title">Application Mobile pour infirmier</h5>
                <p class="card-text">bzgzf
                </p>
            </div>
        </div>
    </div>
</div>
<!-- <container-element [ngSwitch]="switch_active">
    <some-element *ngSwitchCase="active"></some-element>
    <some-element *ngSwitchCase="active"></some-element>
    <some-element *ngSwitchCase="active"></some-element>Ouiass
</container-element> -->