<h1 id="titre" class="d-flex justify-content-center">Présention des veilles </h1>
<div class="d-flex justify-content-center">
    <button id="Technologique" class="choixPage positionboutton" (click)="changePage()"><a
            routerLink="Technologique">Technologique</a></button>

    <button id="Juridique" class="choixPage positionboutton" (click)="changePage()"><a
            routerLink="Juridique">Juridique</a></button>
</div>

<div *ngIf="!pageAfficher">
    <label class="d-flex justify-content-center retroshadow positiondefinition">
        Choissisez la veille que vous souhaitez consulter
    </label>
</div>
<div *ngIf="pageAfficher">
    <router-outlet></router-outlet>
</div>