<h1 id="titre" class="d-flex justify-content-center">Présention des veilles </h1>
<div class="d-flex justify-content-center"><button class="choixPage positionboutton"><a
            routerLink="Technologique">Technologique</a></button>

    <button class="choixPage positionboutton"><a routerLink="Juridique">Juridique</a></button>
</div>
<!-- <div ngIf="laRoute"> -->
    <label class="d-flex justify-content-center retroshadow">
        Choissisez la veille que vous souhaitez consulter
    </label>
<!-- </div> -->
<router-outlet></router-outlet>