.choixPage {
    background-color: #212529;
    border-radius: 5rem;
    padding: 0.5rem 1rem;
    transition: all 0.7s ease-out;
    border-color: #212529;
    a {
        color: white;
        text-decoration: none;
        font-weight: bold;
        font-size: 1.5rem;
    }
}
.choixPage:hover {
    background-color: white;
    border-color: #212529;
    a {
        color: #212529;
    }
}

.positionboutton {
    margin-top: 1rem;
    margin-right: 3rem;
}

label {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 65px;
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;

    &.retroshadow {
        color: #2c2c2c;
        background-color: white;
        letter-spacing: 0.05em;
        text-shadow: 4px 4px 0px #d5d5d5, 7px 7px 0px rgba(0, 0, 0, 0.2);
    }
}

#titre {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.positiondefinition{
    margin-top: 1.5rem;
}