<label class="retroshadow"> « Les contrats de production et de fournitures de services informatiques ».</label>
<div class="d-flex les-definitions ">
    <div class="card shadow-lg p-3 mb-5 bg-white rounded la-definition ">
        <div class="card-body">
            <h5 class="card-title">Un contrat de prestation de services : Definition</h5>
            <p class="card-text">Un contrat de prestation de services est la convention par laquelle une
                personne ou une société s’oblige contre une rémunération à exécuter pour une autre personne ou
                société,
                un travail relevant du milieu de l’informatique, sans agir en son nom et de façon indépendante.
            </p>
        </div>
    </div>
    <div style="padding: 2.5rem;"></div>
    <div class="card shadow-lg p-3 mb-5 bg-white rounded la-definition ">
        <div class="card-body">
            <h5 class="card-title">La production et la fourniture de services : Definition</h5>
            <p class="card-text">La production et la fourniture de services donnent lieu à plusieurs contrats
                informatiques présentant chacun des spécificités.
            </p>
        </div>
    </div>
</div>