.navbar {
    display: block;
    box-shadow: 10px -15px 82px 2px black;
}

.barreNav {
    width: 50%;
    border-radius: 0rem 0rem 5rem 5rem;
    margin-left: 25%;
    // background-color: #212529!important;
}

.nav-link{
    color: white;
padding : 0.5rem 1rem 0rem;
margin : 0.5rem;
}

.nav-link:hover{
    color:#212529;
}

.menu-blanc{
    color: white;
    margin-left: 0.5rem ;
    transition: all 0.7s ease-out ;
}

.menu-blanc:hover{
    border-radius: 5rem; 
    background-color: white;
    color:#212529;
}

.selectedRoute{
    border : solid; 
    border-color: white;
    border-radius: 5rem;
    padding: 0.3rem 1rem 0rem;
}