<body>
  <nav class="navbar navbar-dark bg-dark barreNav">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link menu-blanc" routerLink="/Accueil" routerLinkActive="selectedRoute">
          <h5>Accueil</h5>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link menu-blanc" routerLink="/BTS" routerLinkActive="selectedRoute">
          <h5>BTS SIO</h5>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link menu-blanc" routerLink="/Projets" routerLinkActive="selectedRoute">
          <h5>Projets</h5>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link menu-blanc" routerLink="/Competences" routerLinkActive="selectedRoute">
          <h5>Compétences</h5>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link menu-blanc" routerLink="/Veille" routerLinkActive="selectedRoute">
          <h5>Veille</h5>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link menu-blanc" routerLink="/Contact" routerLinkActive="selectedRoute">
          <h5>Contact</h5>
        </a>
      </li>
    </ul>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</body>