<!-- <div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h2 class="text-white">Collapsed content</h2>
      <span class="text-muted">Toggleable via the navbar brand.</span>
    </div>
  </div> 
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
-->
<nav class="navbar navbar-dark bg-dark">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link text-danger" routerLink="">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="leBTS">BTS SIO</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="lesPPE">PPE</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="lesCompetences">Compétences</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " routerLink="lesCertifications">Certifications</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " routerLink="laVeille">Veille</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " routerLink="lEntreprise">Entreprise</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " routerLink="leContact">Contact</a>
    </li>
  </ul>
</nav>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>