#titre {
    height: 50%;
}

.clignote {
    animation: clignote 2s linear infinite;
}
@keyframes clignote {
    50% {
        opacity: 0;
    }
}
a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}
a:link {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

//------------------ Titre
h1 {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 92px;
    padding: 12rem 50px;
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;

    &.retroshadow {
        color: #2c2c2c;
        background-color: white;
        letter-spacing: 0.05em;
        text-shadow: 4px 4px 0px #d5d5d5, 7px 7px 0px rgba(0, 0, 0, 0.2);
    }
}
//-----------

.card {
    margin-bottom: 2rem;
}
