.intro {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.la-veille {
    text-decoration: none;
    color: black;
}

.les-veilles {
    margin-bottom: 3rem;
}

.positiondefinition {
    margin-top: 1.5rem;
}
