<h1 id="titre" class="d-flex justify-content-center">Présentations de la veille technologique </h1>
<div class="d-flex justify-content-center positiondefinition">
    <div class="card shadow-lg p-3 mb-5 bg-white rounded">
        <div class="card-body">
            <h5 class="card-title">La veille Technologique</h5>
            <p>
                La veille technologique consiste à s’informer de façon systématique sur les techniques les plus
                récentes.
            </p>
            <p>J'ai choisi d'utiliser le site <u><a href="https://feedly.com/" target="_blank" class="intro">Feedly</a></u>
                ainsi que <u><a href="https://news.google.com/topstories?hl=fr&gl=FR&ceid=FR:fr" target="_blank"
                    class="intro">Google Actualités</a></u> pour me
                tenir informé des derniers articles sur les thèmes du <strong>Javascript</strong>,
                <strong>Angular</strong>, <strong>Node.js</strong>, mais j'utilise également <u><a href="https://www.youtube.com/" target="_blank" class="intro">Youtube</a></u> et
                <u><a href="https://twitter.com/" target="_blank" class="intro">Twitter</a></u> pour les
                nouveautés du web, mais aussi pour les nouveautés à propos de la domotique.
            </p>
        </div>
    </div>
</div>
<div class="row les-veilles">
    <div class="col-md-3 col-sm-6 card-projet">
        <div class="card shadow-lg">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="assets/img/v-techno2.png" class="img-fluid" />
            </div>
            <div class="card-body">
                <h5 class="card-title">Node.js Blog</h5>
                <p class="card-text">Le fil d'actualité me permet de me tenir à jour des dernières mises à jour de
                    Node.js
                    sur Feedly.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 card-projet">
        <a href="https://www.youtube.com/channel/UCLOAPb7ATQUs_nDs9ViLcMw" target="_blank" class="la-veille">
            <div class="card shadow-lg">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="assets/img/v-techno3.png" class="img-fluid" />
                </div>
                <div class="card-body">
                    <h5 class="card-title">Youtube</h5>
                    <p class="card-text">En suivant des Youtubeurs du monde du developpement (ex : Benjamin Code,
                        Micode/Underscore).
                    </p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-3 col-sm-6 card-projet">
        <div class="card shadow-lg">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="assets/img/v-techno4.png" class="img-fluid" />
            </div>
            <div class="card-body">
                <h5 class="card-title">Twitter</h5>
                <p class="card-text">En suivant des développeurs sur Twitter (ex: Manu.js, Mehdi Zed, BenjaminCode)
                    ainsi qu'avec des # (ex: #developer).
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 card-projet">
        <div class="card shadow-lg">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="assets/img/v-techno7.png" class="img-fluid" />
            </div>
            <div class="card-body">
                <h5 class="card-title">Domotique News</h5>
                <p>Fil d'actualité des nouveautés sur la domotiques sur Google Actualités.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row les-veilles">
    <div class="col-md-3 col-sm-6 card-projet">
        <a href="https://www.jesuisundev.com/javascript-ce-que-javais-pas-compris/" target="_blank" class="la-veille">
            <div class="card shadow-lg">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="assets/img/v-techno1.png" class="img-fluid" />
                </div>
                <div class="card-body">
                    <h5 class="card-title">Javascript : ce que j’avais pas compris</h5>
                    <p>Ce style d'article me permet de connaître les subtilités que je n'ai pas eues
                        l'occasion d'aborder et qui me permet malgré tout de les connaître.
                    </p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-3 col-sm-6 card-projet">
        <a href="https://domotique-news.com/cybersecurite-et-protection-des-donnees/" target="_blank" class="la-veille">
            <div class="card shadow-lg">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="assets/img/v-techno5.png" class="img-fluid" />
                </div>
                <div class="card-body">
                    <h5 class="card-title">Sécurité des objets connectés</h5>
                    <p>Collaboration entre deux entreprises pour mettre au point un système de
                        cybersécurité pour les objets connectés des maisons.
                    </p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-3 col-sm-6 card-projet">
        <a href="https://domotique-news.com/huawei-lance-sa-maison-connectee/" target="_blank" class="la-veille">
            <div class="card shadow-lg">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="assets/img/v-techno5.png" class="img-fluid" />
                </div>
                <div class="card-body">
                    <h5 class="card-title">Nouveauté domotique</h5>
                    <p>Huawei qui diversifie sa catégorie d'objet connecté destiné aux maisons
                        connectées.
                    </p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-3 col-sm-6 card-projet">
        <a href="https://www.batirama.com/article/40729-domotique-enfin-le-langage-universel-arrive.html"
            target="_blank" class="la-veille">
            <div class="card shadow-lg">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="assets/img/v-techno8.png" class="img-fluid" />
                </div>
                <div class="card-body">
                    <h5 class="card-title">Mise en commun d'un langage</h5>
                    <p>Homogénéisation des langages utilisé pour les appareils connecté.<br>
                        ZigBee -> CSA et Chip -> Matter
                    </p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-3 col-sm-6 card-projet">
        <a href="https://www.zdnet.fr/actualites/programmation-javascript-toujours-au-top-malgre-la-menace-de-python-et-java-39921745.htm"
            target="_blank" class="la-veille">
            <div class="card shadow-lg">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="assets/img/v-techno10.png" class="img-fluid" />
                </div>
                <div class="card-body">
                    <h5 class="card-title">Javascript le plus populaire</h5>
                    <p>JavaScript reste de loin le langage de programmation le plus populaire, avec une communauté
                        d'utilisateurs à 13,8 millions de développeurs
                    </p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-3 col-sm-6 card-projet">
        <a href="https://www.futura-sciences.com/maison/actualites/domotique-domotique-arrosage-connecte-economiser-eau-jardin-87279/"
            target="_blank" class="la-veille">
            <div class="card shadow-lg">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="assets/img/v-techno9.png" class="img-fluid" />
                </div>
                <div class="card-body">
                    <h5 class="card-title">La domotique utile pour l'écologie</h5>
                    <p>Avec les périodes de sécheresse à répétition, pour profiter d'un beau jardin il
                        est nécessaire de l'arroser.
                        Pour économiser l'eau, utiliser un
                        système d'arrosage connecté est un atout de taille.
                    </p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-3 col-sm-6 card-projet">
        <a href="https://typescript.developpez.com/actu/315134/L-equipe-Angular-de-Google-annonce-la-version-12-d-Angular-le-framework-open-source-base-sur-TypeScript-elle-ameliore-le-service-de-langue-base-sur-Ivy-et-apporte-de-nouvelles-fonctionnalites/"
            target="_blank" class="la-veille">
            <div class="card shadow-lg">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="assets/img/v-techno11.png" class="img-fluid" />
                </div>
                <div class="card-body">
                    <h5 class="card-title">Angular V12</h5>
                    <p>La version 12 d’Angular, le framework open source basé sur TypeScript, elle améliore le service
                        de langue basé sur Ivy et apporte bien
                        d’autres nouvelles fonctionnalités
                    </p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-3 col-sm-6 card-projet">
        <a href="https://javascript.developpez.com/actu/313061/jQuery-3-6-0-est-disponible-mais-la-bibliotheque-JavaScript-est-elle-encore-beaucoup-utilisee-en-2021/"
            target="_blank" class="la-veille">
            <div class="card shadow-lg">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="assets/img/v-techno12.png" class="img-fluid" />
                </div>
                <div class="card-body">
                    <h5 class="card-title">Nouvelle version Jquery</h5>
                    <p>L'équipe jQuery vient d'annoncer une nouvelle version de la célèbre bibliothèque JavaScript :
                        jQuery 3.6.0. Dans cette nouvelle version, il n'y a pas de correctif de sécurité, mais quelques
                        corrections de bogues et améliorations.
                    </p>
                </div>
            </div>
        </a>
    </div>
</div>