<h1 id="titre" class="d-flex justify-content-center">Présention du BTS SIO </h1>
<div class="d-flex">
    <div class="card shadow-lg p-4 mb-5 bg-white rounded">
        <div class="card-body">
            <h5 class="card-title">Brevet de technicien supérieur - Services informatiques aux organisations</h5>
            <p class="card-text">Le BTS Services informatiques aux organisations est le résultat d'une rénovation en
                profondeur du BTS Informatique de gestion. Il remplace ce dernier depuis la rentrée 2011.</p>
        </div>
    </div>
</div>
<div class="d-flex">
    <div  class="card p-2 shadow-lg p-3 mb-5 bg-white rounded">
        <div class="card-body">
            <h5 class="card-title">OPTION A : SISR SOLUTIONS D'INFRASTRUCTURES SYSTÈMES ET RÉSEAUX</h5>
            La spécialisation SISR du BTS SIO permet d’apprendre un métier qui consiste à installer, configurer et
            gérer
            les équipements et les réseaux informatiques. Cela signifie intervenir sur la conception, la mise en
            place,
            le déploiement et la maintenance de programmes destinés à la gestion au sein d’une organisation.
        </div>
    </div>
    <div style="padding: 2.5rem;"></div>
    <div class="card p-2 shadow-lg p-3 mb-5 bg-white rounded">
        <div class="card-body">
            <h5 class="card-title">OPTION B : SLAM SOLUTIONS LOGICIELLES ET APPLICATIONS MÉTIERS</h5>
            La spécialisation SLAM du BTS SIO est elle plus orientée Développement. Elle permet d'apprendre à
            réaliser
            des logiciels, sites webs, applications mobiles, mais aussi de rédiger des documentations techniques
            liées à
            celles-ci. De plus, elle permet d'apprendre à former des utilisateurs pour gérer la maintenance des
            applications.
        </div>
    </div>
</div>
<!--  TIMELINE -->
<p-timeline [value]="events1" align="alternate" styleClass="customized-timeline">
    <ng-template pTemplate="marker" let-event>
        <span class="custom-marker p-shadow-2" [style.backgroundColor]="event.color">
            <i [ngClass]="event.icon"></i>
        </span>
    </ng-template>
    <ng-template pTemplate="content" let-event>
        <p-card class="card shadow-lg" [header]="event.status" [subheader]="event.diplome">
            <ul style="list-style-type:none;">
                <li *ngFor="let message of event.messages">{{message}}</li>
            </ul>
        </p-card>
    </ng-template>
</p-timeline>