<div class="card shadow-lg p-3 mb-5 bg-white rounded">
    <div class="card-body">
        <h5 class="card-title">Brevet de technicien supérieur - Services informatiques aux organisations</h5>
        <p class="card-text">Le BTS Services informatiques aux organisations est le résultat d'une rénovation en
            profondeur du BTS Informatique de gestion. Il remplace ce dernier depuis la rentrée 2011.</p>
    </div>
</div>
<div class="container-fluid">
    <div class="card d-flex">
        <div class="card-body">
            <h5 class="card-title">OPTION A : SISR SOLUTIONS D'INFRASTRUCTURES SYSTÈMES ET RÉSEAUX</h5>
            La spécialisation SISR du BTS SIO permet d’apprendre un métier qui consiste à installer, configurer et
            gérer
            les équipements et les réseaux informatiques. Cela signifie intervenir sur la conception, la mise en
            place,
            le déploiement et la maintenance de programmes destinés à la gestion au sein d’une organisation.
        </div>
    </div>
    <div class="card d-flex">
        <div class="card-body">
            <h5 class="card-title">OPTION B : SLAM SOLUTIONS LOGICIELLES ET APPLICATIONS MÉTIERS</h5>
            La spécialisation SLAM du BTS SIO est elle plus orientée Développement. Elle permet d'apprendre à
            réaliser
            des logiciels, sites webs, applications mobiles, mais aussi de rédiger des documentations techniques
            liées à
            celles-ci. De plus, elle permet d'apprendre à former des utilisateurs pour gérer la maintenance des
            applications.
        </div>
    </div>
</div>

<div class="container">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Première Année</h5>
            <ul>
                <li>Culture Générale & Expression</li>
                <li>Anglais</li>
                <li>Mathématiques</li>
                <li>Algorithmie</li>
                <li>Analyse économique, managériale et juridiques des services informatiques</li>
                <li>Enseignements Communs : 4 Modules au 1er semestre et 2 au second</li>
                <li>Enseignements de spécialité (SLAM ou SISR) : 2 modules uniquement au second semestre</li>
                <li>Projets Personnels Encadrés (PPE)</li>
            </ul>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Deuxième Année</h5>
            <ul>
                <li>Culture Générale & Expression</li>
                <li>Anglais</li>
                <li>Mathématiques</li>
                <li>Analyse économique, managériale et juridiques des services informatiques</li>
                <li>Enseignements Communs : 1 Module de Gestion de Projet</li>
                <li>Enseignements de spécialité (SLAM ou SISR) : 3 Modules</li>
                <li>Projets Personnels Encadrés (PPE)</li>
            </ul>
        </div>
    </div>
</div>